{% load static %} 
{% load cloudinary %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body id="home">
    <section class=" w3l-header-4 header-sticky">
        <!--header-->
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark stroke">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <span class="fa fa-paint-brush"></span> Neighbour-hod.online
                        </a>
                    </h1>
                    <!-- if logo is image enable this   
			<a class="navbar-brand" href="#index.html">
				<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
			</a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
					<span class="navbar-toggler-icon fa icon-close fa-times"></span>
					
				</button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item @@about__active">
                                <a class="nav-link" href="{% url 'hood' %}">Nhood</a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="services.html">Buisness</a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="services.html">Profile</a>
                            </li>
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" href=" {% url 'logout' %} ">Logout</a>
                            </li>
                            <li class="nav-item" title="Search"><a href="#search" class="search-search nav-link"><span class="fa fa-search mr-2" aria-hidden="true"></span></a></li>
                            <!-- search -->
                            <div class="search-right">
                                <!-- search popup -->
                                <div id="search" class="pop-overlay">
                                    <div class="popup">
                                        <form action="#" method="GET" class="d-flex">
                                            <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                            <button type="submit">Search</button>
                                        </form>

                                        <a class="close" href="#close">&times;</a>
                                    </div>
                                </div>
                                <!-- /search popup -->
                            </div>
                            <!--/ search -->
                        </ul>
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <label class="theme-selector">
							  <input type="checkbox" id="themeToggle">
							  <i class="gg-sun"></i>
							  <i class="gg-moon"></i>
							</label>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </nav>
            </div>
        </header>
        <!--/header-->
    </section>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--bootstrap working//-->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--theme switcher dark and light mode script-->
    <script>
        const bodyElement = document.querySelector('body');
        const themeToggle = document.querySelector('#themeToggle');
        const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');

        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

        if (currentTheme) {
            bodyElement.classList.add(currentTheme);

            if (currentTheme === 'dark') {
                themeToggle.checked = true;
            }
        }

        function userPreference(e) {
            if (e.matches) {
                bodyElement.classList.add("dark");
                return "dark"
            } else {
                bodyElement.classList.remove("dark");
                return ""
            }
        }

        darkModeMql.addListener(userPreference);

        function themeSwitcher(e) {
            if (e.target.checked) {
                bodyElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            } else {
                bodyElement.classList.remove('dark');
                localStorage.setItem('theme', '');
            }
        }

        themeToggle.addEventListener('change', themeSwitcher);
    </script>
    <!--theme switcher dark and light mode script//-->


    <section class="w3l-hero-headers-9" id="home">
        <div class="slide text-center header11" data-selector="header11">
            <div class="container">
                <div class="banner-text ">
                    <h5 class=" ">Dream Comes True With <br>Our Talented Architect</h5>
                    <p class=" ">Creating the neighbourhood of your dreams involves synchronizing a multitude of components perfectly.</p>
                    <a href="services.html" class="btn logo-button top-margin">Read More</a>
                </div>
            </div>

        </div>
    </section>
    <section class="w3l-covers-18">
        <div class="covers-main editContent">
            <div class="container">
                <div class="gallery-image row">
                    <div class="img-box col-lg-4 col-md-6 col-sm-6">
                        <img src="{% static 'img/b2.jpg' %}" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Be an Adminstrator</a></h5>
                        <p class="para">Imagination, vision and technical expertise combined with a can do attitude that welcomes any challenge is what s needed to be a good adminstrator. </p>
                    </div>
                    <div class="img-box col-lg-4 col-md-6 col-sm-6">
                        <img src="{% static 'img/b1.jpg' %}" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Residential Space</a></h5>
                        <p class="para">Be best investment on earth is EARTH.Join us and make your best investment choice with good cherishing neighbours</p>
                    </div>
                    <div class="img-box col-lg-4 col-md-6 col-sm-6">
                        <img src="{% static 'img/b3.jpg' %}" alt="product" class="img-responsive ">
                        <h5 class="my-2"><a href="about.html">Commercial Endevors</a></h5>
                        <p class="para">Real estate is the next big investment in the market.Join our neighbourhood and become a business owner and enjoy financial affluence.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="w3l-call-to-action_9">
        <div class="call-w3">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-7 col-md-7 left-text">
                        <div>
                            <h6 class="small-title">FUN FACT</h6>
                            <h3>
                                We Over 15 Years To Design Thousands Of Successful Dreams</h3>
                            <p class="para editContent text ">
                                Moll itia placeat modi expl icabo volup tatum corporis unde Dicta, provident Rem adipisci Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit Moll itia placeat modi expl icabo volup tatum corporis unde
                                Dicta, provident Rem adipisci Moll itia placeat modi volup tatem tenetur conse quatur.Conseq tenetur conse quatur adipi sicing elit.</p>
                            <div class="stats_left mt-lg-5 mt-4">
                                <div class="counter_grid">
                                    <div class="icon_info">
                                        <p class="counter">90<sup>%</sup></p>
                                        <h4>Fast Support</h4>

                                    </div>
                                </div>
                                <div class="counter_grid">
                                    <div class="icon_info">
                                        <p class="counter">80<sup>%</sup></p>
                                        <h4>Creative Design</h4>

                                    </div>
                                </div>
                                <div class="counter_grid">
                                    <div class="icon_info">
                                        <p class="counter">100<sup>%</sup></p>
                                        <h4>Affordable</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 images-right"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5 ">
            <div class="container">
                <div class="grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h2 class="footer-title-29">Contact Us</h2>
                        <ul>
                            <li>
                                <p><span class="fa fa-map-marker"></span> Exterior Art, #32841 block, #221DRS Real Exterior Art building, KE.</p>
                            </li>
                            <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(254)-75-999-8888</a></li>
                            <li><a href="mailto:estate-mail@support.com" class="mail"><span class="fa fa-envelope-open-o"></span> Hood-mail@support.com</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">
                        <ul>
                            <h6 class="footer-title-29">Hoods</h6>
                            <li><a href="#pages">Ridgeways (15)</a></li>
                            <li><a href="#pages">Kilimani (12)</a></li>
                            <li><a href="#pages">Runda (09)</a></li>
                            <li><a href="#pages">Woodley (04)</a></li>
                            <li><a href="#pages">Lavington (5)</a></li>
                        </ul>
                    </div>
                    <div class="footer-list-29 footer-3">
                        <div class="properties">
                            <h6 class="footer-title-29">Latest Properties</h6>
                            <a href="#pages"><img src="{% static 'img/blog3.jpg' %}" class="img-responsive" alt="">
                                <p>Park avenue apartment for sale<span>$210</span></p>
                            </a>
                            <a href="#pages"><img src="{% static 'img/blog2.jpg' %}" class="img-responsive" alt="">
                                <p>Luxury Villa for rent<span>$450</span></p>
                            </a>
                            <a href="#pages"><img src="{% static 'img/blog1.jpg' %}" class="img-responsive" alt="">
                                <p>Apartment for sale<span>$210</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-4">
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a href="#pages">Register as Admin</a></li>
                            <li><a href="#pages">Register as Business</a></li>
                            <li><a href="#pages">Register as Tenant</a></li>
                            <li><a href="#pages">Hoods</a></li>
                        </ul>
                    </div>
                </div>
                <div class=" bottom-copies text-center">
                    <p class="copy-footer-29">© 2020 Neighbour-hod.Online. All rights reserved | Designed by <a href="#">Anita-That-Chiq</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->

</body>

</html>


{% endblock %}